<!DOCTYPE html>
<html>
    <head>
        <title>Sharing website | Website chuyên chia sẽ trao đổi các mặc hàng đã qua sử dụng</title>
        <meta name="keywords" content="share, product, household">
        <meta charset="UTF-8">
        <meta name="author" content="Truong NP">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        <div class="main">
            
            <div class="container">
               
                <div class="right">
                    <div class="title wrap">
                        <span>Thông Tin Đồ Dùng</span>
                    </div>
                    <div class="info wrap">
                        <form action="/upload_dishes" method="post" enctype="multipart/form-data">
                            
                            <div class="form-control">
                                <div class="title">
                                    <label class="text" for="">Hình ảnh</label>
                                </div>
                                <label class="file-wrap">
                                    <input class="file" type="file" id="file" aria-label="File browser example" name="avatar" required>
                                    <span class="file-custom"></span>
                                  </label>
                            </div>
                            
                            <div class="form-control">
                                <div class="title"><label class="text" for=""></label></div>
                                <button style="background: rgba(226,95,66,1);color: white">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>